@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        <span class="label">Мобильный:</span>
        <span>+375334445566</span>
    </p>
    <p>
        <span class="label">Городской:</span>
        <span>80292234567</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail</h3>
    </header>
    <p>
        <span class="label">Поддержка:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Маркетинг:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">Общие вопросы:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        ул. Гикало, 9<br />
        Минск
    </p>
</section>