@model CourseWork7Term.Models.producer

@{
    ViewBag.Title = "Удаление записи о продюсере";
}

<h2>Удаление записи о продюсере</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>producer</legend>

    <div class="display-label">
         Имя
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку продюсеров", "Index")
    </p>
}
