@model CourseWork7Term.Models.producer

@{
    ViewBag.Title = "Продюсер";
}

<h2>Продюсер</h2>

<fieldset>
    <legend>producer</legend>

    <div class="display-label">
         Имя
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку продюсеров", "Index")
</p>
