@model CourseWork7Term.Models.country

@{
    ViewBag.Title = "Удаление записи о стране";
}

<h2>Удаление записи о стране</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>country</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку стран", "Index")
    </p>
}
