@model CourseWork7Term.Models.country

@{
    ViewBag.Title = "Страна";
}

<h2>Страна</h2>

<fieldset>
    <legend>country</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку стран", "Index")
</p>
