@model CourseWork7Term.Models.actor

@{
    ViewBag.Title = "Актер";
}

<h2>Актер</h2>

<fieldset>
    <legend>actor</legend>

    <div class="display-label">
         Имя
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку актеров", "Index")
</p>
