@model CourseWork7Term.Models.place

@{
    ViewBag.Title = "Удаление записи о месте";
}

<h2>Удаление записи о месте</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>place</legend>

    <div class="display-label">
         Ряд
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.range)
    </div>

    <div class="display-label">
         Место
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку мест", "Index")
    </p>
}
