@model CourseWork7Term.Models.place

@{
    ViewBag.Title = "Место";
}

<h2>Место</h2>

<fieldset>
    <legend>place</legend>

    <div class="display-label">
         Ряд
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.range)
    </div>

    <div class="display-label">
         Место
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку мест", "Index")
</p>
