@model CourseWork7Term.Models.mark

@{
    ViewBag.Title = "Удаление записи об оценке";
}

<h2>Удаление записи об оценке</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>mark</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         Значение
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку оценок", "Index")
    </p>
}
