@model CourseWork7Term.Models.mark

@{
    ViewBag.Title = "Оценка";
}

<h2>Оценка</h2>

<fieldset>
    <legend>mark</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         Значение
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку оценок", "Index")
</p>
