@model CourseWork7Term.Models.screenwriter

@{
    ViewBag.Title = "Сценарист";
}

<h2>Сценарист</h2>

<fieldset>
    <legend>screenwriter</legend>

    <div class="display-label">
         Имя
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку сценаристов", "Index")
</p>
